.balert{
	text-align:center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading{
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="login"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.error{
    text-align: center;
    font-size: 120%;
}
.yes{ color: darkgreen; }
.no{ color: darkred; }

.btn-default a{
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #95a5a6;
}
.btn-default:hover a,
.btn-default:focus a,
.btn-default:active a,
.btn-default.active a{
    color: #ffffff;
    background-color: #7f9293;
    border-color: #74898a;
}
.pagetitle{
    font-size: 30px;
}
.form-group .col-lg-2{
    padding-left: 3px;
}
.search-form{
    margin-top: 10px;
}
.tariffdetail .btn{
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
}
.formpadding td{padding: 5px;}